/* -------------------- TAILWIND -------------------- */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- BASE -------------------- */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
}

/* -------------------- TYPOGRAPHY -------------------- */
.font-heading {
  @apply font-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.font-body {
  @apply font-sans;
  font-family: 'Courier Prime', sans-serif;
  font-weight: 400;
}

/* -------------------- GRADIENTS -------------------- */
.hero-gradient {
  background: linear-gradient(
    to bottom,
    #e4d9d1  0%,
    #e4d9d1  5%,
    #fbfaf8 100%
  );
}

.middle-gradient {
  background: linear-gradient(
    to bottom,
    #fbfaf8  0%,
    #f5efeb 60%,
    #e3d4d2 80%,
    #d9b7b3 90%,
    #b77474 100%
  );
}

.footer-gradient {
  background: linear-gradient(
    to bottom,
    #b77474  0%,
    #8c4d52 30%,
    #4e1f2f 100%
  );
}